<div class="header">
  <div class="container">
    <div class="row">
      <div class="menu col-xs-8">
        <ul>
          <li><a href="">Welcome</a></li>
          <li><a href="">Portfolio</a></li>
          <li><a href="">Blog</a></li>
          <li><a href="">About</a></li>
          <li><a href="">Contact</a></li>
        </ul>
      </div>
      <div class="name col-xs-4">
        <h1>Algirdas Chocianas<h1>
      </div>
    </div>
  </div>
</div>
    
<div class="main home">
  <div class="jumbotron">
  	<div class="container">
      <h2>Hello. My name is Algirdas Chocianas and I create websites.</h2>
      <a class="btn btn-default" href="">View My Work</a>
    </div>
  </div>
</div>
    
<div class="footer">
  <div class="container">
    <ul class="social">
      <li><a class="github" href=""><img src="http://www.instantlife.eu/img/github.svg"></a></li>
      <li><a class="linkedin" href=""><img src="http://www.instantlife.eu/img/linkedin.svg"></a></li>
      <li><a class="twitter" href=""><img src="http://www.instantlife.eu/img/twitter.svg"></a></li>
    </ul>
    <p>2017 &copy; Algirdas Chocianas</p>
  </div>
</div>